<settings>
    <setting id="site1" type="bool" label="30001" default="true" />
    <setting id="site2" type="bool" label="30002" default="true" />
    <setting id="site3" type="bool" label="30003" default="true" />
    <setting id="site4" type="bool" label="30004" default="true" />
    <setting id="site5" type="bool" label="30005" default="true" />
    <setting id="site6" type="bool" label="30006" default="true" />
    <setting id="site7" type="bool" label="30007" default="true" />
    <setting id="site8" type="bool" label="30008" default="true" />
    <setting id="site13" type="bool" label="30013" default="true" />
    <setting id="site14" type="bool" label="30014" default="true" />
    <setting id="site16" type="bool" label="30016" default="true" />
    <setting id="site18" type="bool" label="30018" default="true" />
    <setting id="site19" type="bool" label="30019" default="true" />
    <setting id="site20" type="bool" label="30020" default="true" />
    <setting id="site21" type="bool" label="30021" default="true" />
    <setting id="site22" type="bool" label="30022" default="true" />
    <setting id="site23" type="bool" label="30023" default="true" />
    <setting id="site24" type="bool" label="30024" default="true" />
    <setting id="site25" type="bool" label="30025" default="true" />
</settings>
