<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <setting id="useThumb" type="bool" label="30104" default="false"/>
   <setting id="forceViewNew" type="bool" label="30101" default="true"/>
   <setting id="viewIDShows" type="number" label="30102" enable="eq(-1,true)" default="500"/>
   <setting id="viewIDVideos" type="number" label="30103" enable="eq(-2,true)" default="51"/>
</settings>
