<settings>
   <setting id="siteMode" type="enum" label="30103" values="Custom|Original" default="0"/>
   <setting id="username" type="text" label="30101" enable="eq(-1,0)" default=""/>
   <setting id="password" type="text" option="hidden" label="30102" enable="eq(-2,0)" default="" />
</settings>
